<div id="admin-content">
      <div class="container">
          <div class="row">
              <div class="col-md-10">
                <h1 class="admin-heading"><i class="fa fa-users"></i> All Users</h1>
              </div>
              <div class="col-md-2">
                <a class="add-new" href="add-user.html">add user</a>
              </div>
              <div class="col-md-12">
                <table class="content-table">
                    <thead>
                      <th>S.No.</th>
                      <th>Full Name</th>
                      <th>User Name</th>
                      <th>Role</th>
                      <th>Edit</th>
                      <th>Delete</th>
                    </thead>
                    <tbody>
                        <tr>
                            <td class='id'>1</td>
                            <td>Ram Sharma</td>
                            <td>ram</td>
                            <td>admin</td>
                            <td class='edit'><a href='update-user.html'><i class='fa fa-edit'></i></a></td>
                            <td class='delete'><a href='delete-user.html'><i class='fa fa-trash-o'></i></a></td>
                        </tr>
                        <tr>
                            <td class='id'>2</td>
                            <td>Shyam Kumar</td>
                            <td>shyam</td>
                            <td>author</td>
                            <td class='edit'><a href='update-user.html'><i class='fa fa-edit'></i></a></td>
                            <td class='delete'><a href='delete-user.html'><i class='fa fa-trash-o'></i></a></td>
                        </tr>
                        <tr>
                            <td class='id'>3</td>
                            <td>Ramesh Kumar</td>
                            <td>ramesh</td>
                            <td>admin</td>
                            <td class='edit'><a href='update-user.html'><i class='fa fa-edit'></i></a></td>
                            <td class='delete'><a href='delete-user.html'><i class='fa fa-trash-o'></i></a></td>
                        </tr>
                        <tr>
                            <td class='id'>4</td>
                            <td>Satish Sharma</td>
                            <td>satish</td>
                            <td>admin</td>
                            <td class='edit'><a href='update-user.html'><i class='fa fa-edit'></i></a></td>
                            <td class='delete'><a href='delete-user.html'><i class='fa fa-trash-o'></i></a></td>
                        </tr>
                    </tbody>
                </table>
                <nav>
                  <ul class="pagination">
                    <li class="page-item disabled">
                      <a class="page-link">Previous</a>
                    </li>
                    <li class="page-item"><a class="page-link" href="#">1</a></li>
                    <li class="page-item active">
                      <a class="page-link" href="#" aria-current="page">2</a>
                    </li>
                    <li class="page-item"><a class="page-link" href="#">3</a></li>
                    <li class="page-item">
                      <a class="page-link" href="#">Next</a>
                    </li>
                  </ul>
                </nav>
              </div>
          </div>
      </div>
  </div>